<div class="language-selector">
    <div class="current-language">
        <span class="lang-icon"></span>
        <%= current_language() %>
    </div>
    <div class="language-dropdown">
        <%- language_list() %>
    </div>
</div>